---
import { Image } from "astro:assets";

import { TextType } from "../components";
import woman from "../assets/woman.mp4"
import logo from "../assets/logo.png"

const { lang, hero } = Astro.props;
const { title, alt, href } = hero;
const nextLang = lang == "es" ? "en" : "es";
---

<section class="hero">
  <div class="hero_lang">
    <a
      href={href}
      class="hero_lang-btn"
      aria-label={`Switch language to ${nextLang.toUpperCase()}`}
    >
      <svg class="hero_lang-icon" viewBox="0 0 24 24" fill="none">
        <path
          d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2 12h20"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 2c2.5 2.7 4 6.2 4 10s-1.5 7.3-4 10c-2.5-2.7-4-6.2-4-10s1.5-7.3 4-10Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      {nextLang.toUpperCase()}
    </a>
  </div>
  <div class="hero_bg">
    <div class="hero_bg-banner">
      <video
        autoplay=""
        playsinline=""
        loop=""
        poster=""
        muted=""
        class="hero_bg-video"
        src={woman}></video>
    </div>
  </div>
  <div class="hero_bg-logo">
    <Image src={logo} alt={alt} class="hero_bg-logo_img" />
  </div>
  <div class="hero_aside">
    <div class="hero_aside-wrapper">
      <div class="max-w-4xl">
        <TextType
          text={[title]}
          typingSpeed={75}
          pauseDuration={1500}
          showCursor
          cursorCharacter="_"
          deletingSpeed={50}
          cursorBlinkDuration={0.5}
          className="hero_aside-title text-white"
          client:load
        />
      </div>
    </div>
  </div>
</section>
