---
import {clsx} from "clsx"

import Img from "./components/Img.astro"
import List from "./components/List.astro"

const { isDark, include  } = Astro.props;
const { title, btn, includes, img, alt} = include
---

<section class={clsx("includes", isDark && "includes_dark")}>
	<div class="includes_container">
		<div class="includes_grid">
			{isDark && (
				<List includes={includes} isDark={isDark} title={title} btn={btn} />
				<Img img={img} alt={alt} />
			)}
			{!isDark && (
				<Img img={img} alt={alt} />
				<List includes={includes} isDark={isDark} title={title} btn={btn} />
			)}
		</div>
	</div>
</section>
