---
import type { Brand } from "../types";

import { clsx } from "clsx";

import Img from "./components/Img.astro";
import List from "./components/List.astro";

const { isDark, include } = Astro.props;
const { title, btn, includes, ingredients, subtitle, img, alt } = include;
---

<section class={clsx(!isDark &&"includes", isDark && "includes_dark")}>
  <div class="includes_container">
    {
      isDark && (
        <div class="includes_grid">
          <List includes={includes} isDark={isDark} title={title} btn={btn} subtitle={subtitle} ingredients={ingredients} />
          <Img img={img} alt={alt} />
        </div>
      )
    }
    {
      !isDark && (
        <div class="includes_grid">
          <Img img={img} alt={alt} />
          <List includes={includes} isDark={isDark} title={title} btn={btn} subtitle={subtitle} ingredients={ingredients} />
        </div>
      )
    }
  </div>
</section>
