---
import { SplitText, BlurText } from "../components";
import "animate.css";

const { welcome } = Astro.props;
const { title, subtitle_first, subtitle_second, text, btn } = welcome;
---

<section class="cities">
  <div class="cities_container">
    <div class="max-w-4xl">
      <h1 class="hero_aside-title text-[#c8102e]">{title}</h1>
      <BlurText
        text={subtitle_first}
        delay={300}
        animateBy="words"
        direction="top"
        className="hero_aside-subtitle_first text-[#c8102e]"
        client:load
      />
      <BlurText
        text={subtitle_second}
        delay={1500}
        animateBy="words"
        direction="bottom"
        className="hero_aside-subtitle_second text-[#c8102e]"
        client:load
      />
      <SplitText
        text={text}
        className="hero_aside-text text-[#c8102e]"
        delay={250}
        duration={1.25}
        ease="power3.out"
        splitType="chars"
        from={{ opacity: 0, y: 40 }}
        to={{ opacity: 1, y: 0 }}
        threshold={0.1}
        rootMargin="-100px"
        client:load
      />
      <div class="pt-20">
        <a
          href="./assets/PROGRAMA-EDUCATIVO.pdf"
          target="_blank"
          rel="noopener"
          class="hero_aside-btn animate__animated animate__pulse"
        >
          {btn}
        </a>
      </div>
    </div>
  </div>
</section>
